[Unit]
Description=Radicale
After=homelab-secrets.service
Requires=homelab-secrets.service
PartOf=homelab-radicale.target

[Container]
Image=radicale.build
ContainerName=radicale
User=radicale:radicale
EnvironmentFile=%t/homelab/rendered/site.env
Network=radicale.network
Volume=%t/homelab/rendered/radicale/config:/etc/radicale/config:ro,Z
Volume=%t/homelab/rendered/radicale/users:/etc/radicale/users:ro,Z
Volume=radicale-collections.volume:/var/lib/radicale/collections:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
