[Unit]
Description=Forgejo
After=forgejo-postgres.container
Requires=forgejo-postgres.container
PartOf=homelab-forgejo.target

[Container]
Image=codeberg.org/forgejo/forgejo:16.0.3-rootless@sha256:214f4ae63ee78be1e445e58573c88dc7215e72091210852e0df94eaac1a25685
Pull=missing
ContainerName=forgejo
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
Network=forgejo.network
Network=forgejo-edge.network
Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=FORGEJO__database__DB_TYPE=postgres
Environment=FORGEJO__database__HOST=forgejo-postgres:5432
Environment=FORGEJO__database__NAME=forgejo
Environment=FORGEJO__database__USER=forgejo
Secret=forgejo-database-password,type=env,target=FORGEJO__database__PASSWD
Volume=forgejo-data.volume:/var/lib/gitea:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
