[Unit]
Description=Forgejo
After=forgejo-postgres.container
Requires=forgejo-postgres.container
PartOf=homelab-forgejo.target

[Container]
Image=codeberg.org/forgejo/forgejo:16.0.3@sha256:7c4e1db440be7b2ca685b49d0d7864cdd78e92431f531bf7893659def8200fc5
Pull=missing
ContainerName=forgejo
EnvironmentFile=%t/homelab/rendered/site.env
Network=forgejo.network
Network=forgejo-edge.network
Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=FORGEJO__database__DB_TYPE=postgres
Environment=FORGEJO__database__HOST=forgejo-postgres:5432
Environment=FORGEJO__database__NAME=forgejo
Environment=FORGEJO__database__USER=forgejo
Secret=forgejo-database-password,type=env,target=FORGEJO__database__PASSWD
Volume=forgejo-data.volume:/data
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
AddCapability=CHOWN DAC_OVERRIDE FOWNER SETGID SETUID
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
