[Unit]
Description=Run librechat
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker compose -f ${DATA_PATH}/librechat/docker/docker-compose.yml kill --all
ExecStartPre=-/usr/bin/docker compose -f ${DATA_PATH}/librechat/docker/docker-compose.yml down
ExecStartPre=-/usr/bin/docker compose -f ${DATA_PATH}/librechat/docker/docker-compose.yml build --pull --no-cache
ExecStart=/usr/bin/docker compose -f ${DATA_PATH}/librechat/docker/docker-compose.yml up --force-recreate -d

ExecStop=/usr/bin/docker compose -f ${DATA_PATH}/librechat/docker/docker-compose.yml down

[Install]
WantedBy=multi-user.target