{
        acme_dns cloudflare ${CADDY_CLOUDFLARE_TOKEN}
        order webdav before file_server
}

(default-header) {
        header {
                # Disable FLoC tracking
                Permissions-Policy "interest-cohort=()"

                # Enable HSTS
                Strict-Transport-Security "max-age=31536000;"

                # Disable clients from sniffing the media type
                X-Content-Type-Options "nosniff"

                # Clickjacking protection
                X-Frame-Options "SAMEORIGIN"

                # Enable cross-site filter (XSS) and tell browser to block detected attacks
                X-XSS-Protection "1; mode=block"

                # Prevent search engines from indexing
                X-Robots-Tag "none"

                # Remove X-Powered-By header
                -X-Powered-By

                # Remove Server header
                -Server
        }
}

# WebDAV - Bookmarks
bookmarks.${BASE_DOMAIN} {
        root * /data/bookmarks
        basic_auth {
                admin ${CADDY_HASHED_PASSWORD}
        }
        webdav
}

# Immich
photos.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy immich-server:2283
}

# Obsidian
obsidian.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy obsidian:5984
}

# Radicale
contacts.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy radicale:5232
}

# Syncthing
syncthing.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy syncthing:8384
}

# Vaultwarden
vault.${BASE_DOMAIN} {
        import default-header

        encode gzip

        # Vaultwarden HTTP server
        reverse_proxy vaultwarden:80

        # Websockets server
        reverse_proxy /notifications/hub vaultwarden:3012

        # Negotiation endpoint
        reverse_proxy /notifications/hub/negotiate vaultwarden:8080
}

# Gitea
git.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy gitea:3000
}

# Home Assistant
home.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy homeassistant:8123
}

# # Home Assistant - Zigbee2MQTT
home-zigbee.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy homeassistant-zigbee2mqtt:8080
}

# LibreChat
chat.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy librechat:3080
}

# Supabase
supabase.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy supabase-kong:8000
}

# Ente
2fa.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy ente-web:3001
}