[Unit]
Description=Home Assistant Zigbee2MQTT
After=homelab-secrets.service
After=homeassistant-mosquitto.container
Requires=homelab-secrets.service
Requires=homeassistant-mosquitto.container
PartOf=homelab-homeassistant.target

[Container]
Image=ghcr.io/koenkk/zigbee2mqtt:2.13.0@sha256:4fb4db4d49a217bed6d0204f454ce809febc565bbe051b85c556ee2bcef73d8c
Pull=missing
ContainerName=homeassistant-zigbee2mqtt
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
EnvironmentFile=%t/homelab/rendered/homeassistant/zigbee2mqtt.env
Secret=homeassistant-mosquitto-password,type=env,target=ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD
Network=homeassistant.network
Network=homeassistant-edge.network
GroupAdd=keep-groups
AddDevice=%h/.local/state/homelab/zigbee-router:/dev/ttyACM0
SecurityLabelType=container_device_t
Volume=homeassistant-zigbee2mqtt.volume:/app/data:U
Volume=/run/udev:/run/udev:ro
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
