{
        acme_dns cloudflare ${CADDY_CLOUDFLARE_TOKEN}
        order webdav before file_server
}

(default-header) {
        header {
                # Disable FLoC tracking
                Permissions-Policy "interest-cohort=()"

                # Enable HSTS
                Strict-Transport-Security "max-age=31536000;"

                # Disable clients from sniffing the media type
                X-Content-Type-Options "nosniff"

                # Clickjacking protection
                X-Frame-Options "SAMEORIGIN"

                # Enable cross-site filter (XSS) and tell browser to block detected attacks
                X-XSS-Protection "1; mode=block"

                # Prevent search engines from indexing
                X-Robots-Tag "none"

                # Remove X-Powered-By header
                -X-Powered-By

                # Remove Server header
                -Server
        }
}

# WebDAV - Bookmarks
bookmarks.${BASE_DOMAIN} {
        root * /data/bookmarks
        basic_auth {
                admin ${CADDY_HASHED_PASSWORD}
        }
        webdav
}

# Immich
photos.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy immich-server:2283 {
                header_up X-Real-IP { remote_host }
        }
}

# Obsidian
obsidian.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy obsidian:5984 {
                header_up X-Real-IP { remote_host }
        }
}

# Radicale
contacts.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy radicale:5232 {
                header_up X-Real-IP { remote_host }
        }
}

# Syncthing
syncthing.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy syncthing:8384 {
                header_up X-Real-IP { remote_host }
        }
}

# Vaultwarden
vault.${BASE_DOMAIN} {
        import default-header

        encode gzip

        # Vaultwarden HTTP server
        reverse_proxy vaultwarden:80 {
                header_up X-Real-IP { remote_host }
        }

        # Websockets server
        reverse_proxy /notifications/hub vaultwarden:3012 {
                header_up X-Real-IP { remote_host }
        }

        # Negotiation endpoint
        reverse_proxy /notifications/hub/negotiate vaultwarden:8080 {
                header_up X-Real-IP { remote_host }
        }
}

# Gitea
git.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy gitea:3000 {
                header_up X-Real-IP { remote_host }
        }
}

# LibreChat
chat.${BASE_DOMAIN} {
        import default-header

        encode gzip

        reverse_proxy librechat:3080 {
                header_up X-Real-IP { remote_host }
        }
}