[Unit]
Description=Vaultwarden
After=homelab-secrets.service
Requires=homelab-secrets.service
PartOf=homelab-vaultwarden.target

[Container]
Image=docker.io/vaultwarden/server:1.37.3@sha256:1587c45feaa479f1f5e8af3b00eded36bff77bcf1880cf8dbf0541706dd470e0
Pull=missing
ContainerName=vaultwarden
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
Network=vaultwarden.network
Environment=WEBSOCKET_ENABLED=true
Environment=ROCKET_PORT=8080
Environment=SIGNUPS_ALLOWED=true
Environment=INVITATIONS_ALLOWED=false
Environment=SHOW_PASSWORD_HINT=false
Secret=vaultwarden-admin-token,type=env,target=ADMIN_TOKEN
Volume=vaultwarden-data.volume:/data:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
