[Unit]
Description=Create an encrypted incremental backup of the Podman homelab
After=network-online.target homelab-secrets.service
Wants=network-online.target
Requires=homelab-secrets.service

[Service]
Type=oneshot
ExecStart=%h/current/bin/backup --tag automatic
TimeoutStartSec=infinity
UMask=0077
