[Unit]
Description=Rootless Podman homelab
Wants=homelab-anythingllm.target homelab-caddy.target homelab-docs-mcp.target homelab-forgejo.target homelab-homeassistant.target homelab-immich.target homelab-radicale.target homelab-searxng.target homelab-supernote.target homelab-syncthing.target homelab-vaultwarden.target
After=homelab-secrets.service
Requires=homelab-secrets.service

[Install]
WantedBy=default.target
