[Unit]
Description=Changedetection.io website change monitor
After=homelab-changedetection-edge-network.service
Requires=homelab-changedetection-edge-network.service
PartOf=homelab-changedetection.target

[Container]
Image=ghcr.io/dgtlmoon/changedetection.io:0.60.2@sha256:9458e933634f0ad8a777b92c3c71734e3e06b86aae7de3a6aad410427e254e81
ContainerName=changedetection
User=1000:1000
Network=changedetection-edge.network
Environment=PORT=5000
Environment=LISTEN_HOST=0.0.0.0
Environment=USE_X_SETTINGS=1
Environment=HIDE_REFERER=true
Environment=DISABLE_VERSION_CHECK=true
Volume=changedetection-data.volume:/datastore:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
