[Unit]
Description=Run immich
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman podman compose -f ${DATA_PATH}/immich/docker/docker-compose.yml kill --all
ExecStartPre=-/usr/bin/podman podman compose -f ${DATA_PATH}/immich/docker/docker-compose.yml down
ExecStartPre=-/usr/bin/podman compose -f ${DATA_PATH}/immich/docker/docker-compose.yml build --pull --no-cache
ExecStart=/usr/bin/podman compose -f ${DATA_PATH}/immich/docker/docker-compose.yml up --force-recreate -d

ExecStop=/usr/bin/podman podman podman compose -f ${DATA_PATH}/immich/docker/docker-compose.yml down

[Install]
WantedBy=multi-user.target