[Unit]
Description=Immich machine learning
After=homelab-secrets.service
Requires=homelab-secrets.service
PartOf=homelab-immich.target

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v3.2.2@sha256:60dfcf266a9ef3b7376f5678e8c980d4fb61db5fc48c078fe8a326ab1535d60d
Pull=missing
ContainerName=immich-machine-learning
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
Network=immich.network
Network=immich-ml-egress.network
Volume=immich-machine-learning.volume:/cache:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
