[Unit]
Description=Immich machine learning
After=homelab-secrets.service
Requires=homelab-secrets.service
PartOf=homelab-immich.target

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v3.2.4@sha256:e16c2f166a8174901959fdf85e2e4c7bd1ebc4b37e0b6655de97c41408a260c4
Pull=missing
ContainerName=immich-machine-learning
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
Network=immich.network
Network=immich-ml-egress.network
Volume=immich-machine-learning.volume:/cache:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
