[Unit]
Description=Immich machine learning
After=homelab-secrets.service
Requires=homelab-secrets.service
PartOf=homelab-immich.target

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v3.2.0@sha256:f8b2869891c861a58dde969d86e7ea8a186e6059a55886632ee3249e51fb574a
Pull=missing
ContainerName=immich-machine-learning
User=1000:1000
EnvironmentFile=%t/homelab/rendered/site.env
Network=immich.network
Network=immich-ml-egress.network
Volume=immich-machine-learning.volume:/cache:U
LogDriver=journald
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
ReadOnlyTmpfs=true
PodmanArgs=--image-volume=ignore
PidsLimit=1024
RunInit=true

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900
