[Network]
NetworkName=homelab-changedetection-edge
Subnet=10.200.18.0/24
Gateway=10.200.18.1
Options=isolate=true
Label=io.containers.systemd.application=changedetection
