[Network]
NetworkName=homelab-immich
Subnet=10.200.5.0/24
Gateway=10.200.5.1
Internal=true
Options=isolate=true
Label=io.containers.systemd.application=immich
